html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    background-color: green;
    min-height: 100%;
}
.navbar {
    display: flex;
    align-items: center;
}
.SiteHeader {
    position: absolute;
    left: 275px;
    top:0px;
}
div {
    margin-bottom: 0;
}
nav {
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-flex;
    margin: 60px;
    margin-left: 220px;
}
nav ul li a {
    text-decoration: none;
    color: green;
    font-size: 30px;
    transition: 1s;
    font-weight: 2000;
}
nav ul li a:hover{
    color: white;
}
footer {
    position: absolute;
    right: 10px;
    color: white;
}
h1 {
    color:#fff;
    font-size: 100px;
}
p {
    color:#fff;
    font-size: 11px;
}
#aboutUsImage {
    background-image: none;
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    /* width: 1902px; */
    z-index: -1;
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px); */
}
.whatIsPage {
    display: flex;
    justify-content: center;
}

/* #whatIsHeader{
    position: absolute;
    top: 200px;
    font: optional;
    color: #502604;
} */
#theWhatHeader {
    font-size: 70px;
    position: absolute;
    top: 250px;
    color: green;
}
#whatIsParagraph1 {
    top: 500px;
    margin: 0
}
#theGoalHeader {
    font-size: 70px;
    position: absolute;
    top: 800px;
    color: green;
}
#whatIsParagraph2 {
    top: 1000px;
}
.whatIsParagraph {
    position: absolute;
    font-size: 60px;
    text-align: center;
    width: 1000px;
}
#theHowHeader {
    font-size: 70px;
    position: absolute;
    top: 1500px;
    color: green;
}
#theHowParagraph {
    position: absolute;
    font-size: 60px;
    text-align: center;
    width: 1000px;
    top: 1700px;
}
.charityList {
    position: absolute;
    font-size: 40px;
    text-align: center;
    width: 1000px;
    top: 2050px;
    list-style: none;
    color: white;
}
.whatIsFooter {
    top: 2400px;
    margin: 0;
}
