html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    background-color: green;
    min-height: 100%;
}
footer {
    position: absolute;
    right: 10px;
    overflow: hidden;
    color: white;
}
h1 {
    color:#fff;
    font-size: 100px;
}
p {
    color:green;
    font-size: 11px;
}
#aboutUsImage {
    background-image: none;
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    /* width: 1902px; */
    z-index: -1;
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px); */
}
.whatIsPage {
    display: flex;
    justify-content: center;
    background-color: white;
}

/* #whatIsHeader{
    position: absolute;
    top: 200px;
    font: optional;
    color: #502604;
} */
#theWhatHeader {
    font-size: 70px;
    position: absolute;
    top: 250px;
    color: green;
}
#whatIsParagraph1 {
    color: green;
    top: 500px;
    margin: 0;
}
#theGoalHeader {
    font-size: 70px;
    position: absolute;
    top: 800px;
    color: green;
}
#whatIsParagraph2 {
    top: 1000px;
}
.whatIsParagraph {
    position: absolute;
    font-size: 60px;
    text-align: center;
    width: 1000px;
}
#theHowHeader {
    font-size: 70px;
    position: absolute;
    top: 1500px;
    color: green;
}
#theHowParagraph {
    position: absolute;
    font-size: 60px;
    text-align: center;
    width: 1000px;
    top: 1700px;
}
.charityList {
    position: absolute;
    font-size: 50px;
    text-align: center;
    width: 1000px;
    top: 2050px;
    list-style: none;
    color: green;
}
#theTrustHeader {
    font-size: 70px;
    position: absolute;
    top: 2500px;
    color: green;
}
#theTrustParagraph {
    position: absolute;
    font-size: 60px;
    text-align: center;
    width: 1000px;
    top: 2700px;
}
.whatIsFooter {
    top: 3400px;
    margin-bottom: 0px;
}
