/* html {
    height: 100%;
} */
body {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    background-color: rgb(255, 6, 234);
    /* min-height: 100%; */
}
footer {
    position: absolute;
    right: 10px;
    overflow: hidden;
    color: white;
}
h1 {
    color:#fff;
    font-size: 100px;
    padding: 10px;
}
p {
    color:green;
    font-size: 11px;
}
#aboutUsImage {
    background-image: none;
    /* background-size: cover; */
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    /* width: 1902px; */
    z-index: -1;
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px); */
}
p,h1,h2,li {
    text-align: center;
    color: green;
}

.spacingAbout {
    height: 125px;
    color: none;
    background-color: none;
    font-size: none;
    opacity: hidden;
}

#FAQ {
    color: white;
    font-size: 125px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 100%;
    }
}
.backgroundColorWhatIsSection {
    background-color: white;
    position: absolute;
    top: 100px;
    height: 105%;
    width: 100%;
    z-index: -1;
    right: 20%;
}
/* #whatIsHeader{
    position: absolute;
    top: 200px;
    font: optional;
    color: #502604;
} */
#theWhatHeader {
    font-size: 70px;
}
/* #whatIsParagraph1 {
} */
#theGoalHeader {
    font-size: 70px;
}
/* #whatIsParagraph2 {
} */
.whatIsParagraph {
    font-size: 60px;
    text-align: center;
}
#theHowHeader {
    font-size: 70px;
}
#theHowParagraph {
    font-size: 60px;
    text-align: center;
}
.charityList {
    font-size: 50px;
    text-align: center;
    list-style: none;
    text-align:center;
}
#theTrustHeader {
    font-size: 70px;
}
#theTrustParagraph {
    font-size: 60px;
    text-align: center;
}
/* .whatIsFooter {
    top: 2200px;
    margin-bottom: 0px;
} */
.vcenter {
    display: flex;
    justify-content: center;
    align-items: center;
 }