body {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    background-color: green;
}

h1 {
    color: #fff;
    font-size: 100px;
}

p {
    color: #fff;
    font-size: 11px;
}

#SignUp {
    position: relative;
    left: 200px;
    border-radius: 15%;
    padding: 10px;
    border: 1px solid white;
    background: none;
    color: white;
    font-size: 17.5px;
}

#SignUp:hover {
    color: green;
    background-color: white;
}

.backgroundImg {
    background-size: cover;
    background-image: none;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.spacingTitle {
    height: 200px;
}

/* #titleButton {
    top: 50%;
    left: 50%;
} */
#titleButtonText {
    text-align: center;
}

#toNotepadDiv {
    font-size: 40px;
    text-align: center;
}

#toNotepadLink {
    background: none;
    color: green;
    border: 3.5px solid white;
    text-decoration: none;
    /* no underline */
    padding: 10px;
    transition: 1s;
}

#toNotepadLink:hover {
    color: white;
    /* border-color: green; */
}

/* #greenNotesExplainDiv {

} */
#greenNotesExplain {
    color: white;
    font-size: 40px;
    text-align: center;
}

/* .middleText {
    display: flex;
    justify-content: center;
} */
footer {
    position: absolute;
    right: 15px;
    overflow: hidden;
    color: white;
}

.lauchPageFooter {
    top: 920px;
    margin-bottom: 0px;
}