body {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    background-color: green;
}

.container {
    width: 100%;
    height: 0;
    padding-right: 8%;
    padding-left: 8%;
    box-sizing: border-box;
    /* background-image: linear-gradient(); */
    overflow: hidden;
}
.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}
/* .logo {
    position: relative;
    width: 50px;
    cursor:pointer;
} */
.SiteHeader {
    position: absolute;
    left: 275px;
    top:0px;
}
nav {
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-flex;
    margin: 60px;
    margin-left: 220px;
}
nav ul li a {
    text-decoration: none;
    color: green;
    font-size: 30px;
    transition: 1s;
}
nav ul li a:hover{
    color: white;
}

.row {
    position:absolute;
    display:flex;
    height:88%; 
    align-items: center ;
}
.col {
    position: absolute;
    flex-basis: 50%;
}

h1 {
    color:#fff;
    font-size: 100px;
}
p {
    color:#fff;
    font-size: 11px;
}
#SignUp {
    position: relative;
    left: 200px;
    border-radius: 15%;
    padding: 10px;
    border: 1px solid white;
    background: none;
    color: white;
    font-size: 17.5px;
}
#SignUp:hover {
    color: green;
    background-color: white;
}
/* .logo {
    position: absolute;
    top: 20px;
    height: 100px;
    width: 100px;
} */
.aboutPage {
    position: absolute;
    text-align: right;
    /* position: relative;
    top:500px; */
    /* width: 1000000px; */
    background-color: white;
    color: green;
    /* display: ; */
}
.backgroundImg {
    background-size: cover;
    background-image: none;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
#titleButton {
    position: absolute;
    text-align: center;
    top: 250px;
}
#toNotepadLink {
    text-align: center;
    position: absolute; 
    font-size: 40px;
    top: 545px;
    background: none;
    color: green;
    border: 3.5px solid white;
    padding: 10px;
    text-decoration: none; /* no underline */
    transition: 1s;
}
#toNotepadLink:hover {
    color: white;
    /* border-color: green; */
}
#greenNotesExplain {
    position: absolute;
    text-align: center;
    top: 425px;
    color: white;
    font-size: 40px;
}

.middleText {
    display: flex;
    justify-content: center;
}
footer {
    position: absolute;
    right:15px;
    overflow: hidden;
    color: white;
}

.lauchPageFooter {
    top: 920px;
    margin-bottom: 0px;
}