body {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    background-color: green;
}

.container {
    width: 100%;
    height: 100vh;
    padding-right: 8%;
    padding-left: 8%;
    box-sizing: border-box;
    /* background-image: linear-gradient(); */

}
.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}
.logo {
    position: relative;
    width: 50px;
    cursor:pointer;
}
.SiteHeader {
    position: absolute;
    left: 475px;
    top:0px;
}
nav {
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-flex;
    margin: 60px;
    margin-left: 220px;
}
nav ul li a {
    text-decoration: none;
    color: green;
    font-size: 30px;
}

.row {
    position:absolute;
    display:flex;
    height:88%; 
    align-items: center ;
}
.col {
    position: absolute;
    flex-basis: 50%;
}

h1 {
    color:#fff;
    font-size: 100px;
}
p {
    color:#fff;
    font-size: 11px;
    line-height: 15px;
}
#SignUp {
    position: relative;
    left: 200px;
    border-radius: 15%;
    padding: 10px;
    border: 1px solid white;
    background: none;
    color: white;
    font-size: 17.5px;
}
#SignUp:hover {
    color: green;
    background-color: white;
}
.logo {
    position: absolute;
    top: 20px;
    height: 100px;
    width: 100px;
}
.aboutPage {
    position: absolute;
    text-align: right;
    /* position: relative;
    top:500px; */
    /* width: 1000000px; */
    background-color: white;
    color: green;
    /* display: ; */
}
.backgroundImg {
    background-image: none;
    width: 1902px;
    z-index: -1;
    height: auto;
}
#titleButton {
    position: absolute;
    text-align: center;
    top: 360px;
}
.toNotepadButton {
    position: absolute; 
    font-size: 40px;
    top: 625px;
    text-decoration: none;
    background: none;
    color: green;
    border: 1px solid white;
}
.toNotepadButton :hover {
    text-decoration: none;
    color: #fff;
}

